{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Camouflage</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="{% url 'index' %}">Camouflage</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="{% url 'index' %}">Home</a></li>
								<li><a href="{% url 'generic' %}">Upload Pictures</a></li>
								<li><a href="{% url 'elements' %}">View Pictures</a></li>
								<li><a href="{% url 'sub_data' %}">Secure your DATA</a></li>
								<li><a href="{% url 'ret_data' %}">Retrieve your DATA</a></li>
								<li><a href="{% url 'signup' %}">Sign Up</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><span class="icon fa-diamond"></span></div>
							<h2>This is Camouflage</h2>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- One -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Need of todays world</h2>
										<p>When we studied data over the public domain, we realized that cloud platforms handle a large amount of media- images, audio and video (1 billion images at an average are uploaded to Google Photos and Google drive alone every single day), and there is a pressing need of affordable data storage solutions. Besides, data security is integral in today's world with increasing instances of data theft. We suggest a cloud platform that serves both the needs. </p>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Our Ideology</h2>
										<p>We believe that data security and data storage are integral issues in today's world. We present a hack that combines an extremely safe data security algorithm building upon and inspired by block chains and steganography with an extremely affordable cloud storage solution.</p>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>

						<!-- Three -->
							<section id="three" class="wrapper spotlight style3">
								<div class="inner">
									<a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">How sure we are</h2>
										<p>For a hacker to steal data from our system he or she will have to go through the following steps which will at least take years at end: 1. Amidst all the media stored, search for the images that have embedded/encoded data into them. Finding some millions of media in a cloud of many billions... 2. Then for each image apply steganalysis to search for the encoded/embedded information which is devoid of any pattern since the packets of data of many users are stored together in a single image. 3. Then if he manages to come this far, decrypt the packets of information encrypted by some of the strongest encryption algorithms available... 4. If he can do that as well, then he'd just have to find the remaining packets of the same data to make any sense of the complete information..</p>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>

						<!-- Four -->
							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">Where we excel!</h2>
									<p>Banks as well as governments need our solution to store their data that is extremely confidential. At the same time, data storage of media files, growing at an exponential rate is an integral necessity for each one of us.</p>
									<h2>Our Extended Scope</h2>
									<section class="features">
										<article>
											<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
											<h3 class="major">Banking Systems</h3>
											<p>Private information of banks and is customers is safe-guarded.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3 class="major">Government Agencies</h3>
											<p>Confidential data of secret government missions and policies is hidden.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
											<h3 class="major">Property Papers</h3>
											<p>Your property is now your property.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
											<h3 class="major">Wills</h3>
											<p>You wouldn't want that to leak out ;).</p>
											<a href="#" class="special">Learn more</a>
										</article>
									</section>
								</div>
							</section>
					</section>
			</div>

		<!-- Scripts -->
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>